<!DOCTYPE html>
<html ng-app="Tune_Core_Search">
  <head>
  <base href="/">
    <title>TuneCoreSearch</title>
    <%= csrf_meta_tags %>

    <%= stylesheet_link_tag  'application', media: 'all' %>
    <%= javascript_include_tag 'application' %>
     <script src="https://cdnjs.cloudflare.com/ajax/libs/angular-ui-router/0.3.1/angular-ui-router.js"></script>
    <meta charset="utf-8" name="viewport" content="width=device-width, initial-scale=1.0">
  </head>

  <body>
  	<div ng-cloak ui-view></div>
  </body>
</html>
